<html> 
<!--   -->
<head>
	<meta charset="UTF-8">
	<title>tanzil</title>
	<link href="https://fonts.googleapis.com/css?family=Cormorant:600&display=swap" rel="stylesheet">
	<link href="http://xozmag24.uz/tormoz/style.css" rel="stylesheet" >
	<script src="https://kit.fontawesome.com/cab2a65650.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="body">
	<div class="pre-navbar">
		<div class="logo-case">
			<img src="http://xozmag24.uz/tormoz/logo.png" alt="logo">
		</div>
		<div class="logo-text">
			<p class="text">ҚУРЪОНИ КАРИМДА КЕЛГАН СЎЗЛАР</p>
		</div>
	</div>
	<div class="searchbar">
		<div class="search_row">
			<div class="search_block">
				<input type="text" class="search_text" placeholder="Search">
					<div class="search_btn" type="submit">
						<i class="fas fa-search"></i>
					</div>
			</div>
	    </div>
	</div>



<!-- First 20 letter -->

	<div class="letters-box">
		{% for one_letter in All_letters_info %}

			{% if one_letter.letter_id < 21 %}
				<a href="{% url word_ask letter_id=one_letter.letter_id %}">
				<div class="letter">
					<p class="letter-text">{{one_letter.letter}}</p>
				</div>
				</a>
			{% endif %}

		{% endfor %}

	</div>



<!-- Letters after 20 -->



	<div class="letters-box">
		{% for one_letter in All_letters_info %}

			{% if one_letter.letter_id > 20 %}
				<a href="{}">
				<div class="letter">
					<p class="letter-text">{{one_letter.letter}}</p>
				</div>
				</a>
			{% endif %}

	{% endfor %}

	</div>













</div>


</body>
</html>