body{
	margin:0px;
	padding: 0px;
}
.body{

	position: relative;
}

.dark{
	display: none;
	position: absolute;
	width:100vw;
	height:100vw;
	background:#000;
	opacity:0.5;
	z-index: 100;
	left: 0;
	top:0;
}

.red{
	border: 1px solid black;
	background-color: red;
	border-radius: 5px;
}

.blue{
	border: 1px solid black;
	background-color: blue;
	border-radius: 5px;
}

.logo-case , .text{
	text-align: center;
	background-color:  #34B0AC;
	margin:0px;
	padding: 0px;
}

.logo-case img{
	margin:10px;
	height: 25vw;
	width: 25vw;
}

.text{
    font-family: 'Cormorant', serif;
    font-size: 22px;
    color: white;
}

.search_block{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	height: 40px;
	border-radius: 40px;
	width: 40vw;
}

.search_btn{
	perspective: 1px;
	overflow: hidden;
	border-radius: 50%;
	color: white;
	float:right;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #34b0ac;
	margin: 5px;
}

.search_text{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #34b0ac;
	font-size: 16px;
	line-height: 30px;
	width: 35vw;
	padding: 5px;
}

.search_row{
	width: auto;
	background-color: #34b0ac;
	position: sticky;
	top: 0;
	height: 60px;
	opacity: 100;
}

.letters-box{
	margin-right: 10vw;
	margin-left: 10vw;
	margin-top: 5vw;
}

.letter{
	float: left;
	justify-content: center;
	align-items: center;C
	height: 2vw;
	width: 2vw;
	background-color: #F6F6FF;
	margin-right: 0.6vw;
	margin-left: 0.6vw;
	margin-top: 1.5vw;
	border-radius: 10%;
	border: 1px solid #9e9e9e;
}

.letter-text{
	font-family: 'Cormorant', serif;
    font-size: 22px;
    margin:0px;
    text-align: center;
    color: #424242;
}

.block-a{
	position: absolute;
	display: none;
	top:0;
	left: 0;
	z-index: 9999;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 5vw;
	background-color: #F6F6FF;
	border-radius: 20px;
	width: 90vw;
	min-height: 50vw;
}

.close-btn{
	background-color: #34B0AC;
	border-radius: 0.5vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
	position: relative;
	left: 200;
	bottom: 0;
}