body{
  margin:0px;
  padding: 0px;
}

.word{
    min-width:150px;
    margin-bottom:15px;
    font-size:16px;
    font-weight: bold;
    color:#666666;
    border: #d9d9d9 solid 1px;
    background-color:white;
}
a{
    text-decoration: none;
}


.letter{
    width:40px;
    height:40px;
    margin-bottom:15px;
    margin-left:15px;
    font-size:16px;
    font-weight: bold;
    color:#666666;
    border: #d9d9d9 solid 1px;
    background-color:white;
}

.word:hover{
    background-color:#f2f2f2;
}

.letter:hover{
    background-color:#f2f2f2;
}

.pre-navbar{
    padding-bottom:4px;
    background:url('http://xozmag24.uz/tormoz/words.png');
    margin-bottom:40px;
}

.body{
  position: relative;
}

.logo-case , .text{
  text-align: center;
  margin:0px;
  padding: 0px;
}

.logo-case img{
  margin:10px;
  height: 15vw;
  width: 15vw;
}

.text{
    font-family: 'Cormorant', serif;
    font-size: 22px;
    color: white;
}

.block_of_words{
  column-count: 5;
  column-gap: 5vw;
}

.s130 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.s130 form {
  width: 100%;
}

.s130 form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border:white solid 4px;
  overflow: hidden;
  margin-top:20px;
  margin-bottom: 35px;
}

.s130 form .inner-form .input-field {
  height: 45px;
}

.s130 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: black;
  margin-left:20px;
}

.s130 form .inner-form .input-field input.placeholder {
  color: black;
  font-size: 18px;
}

.s130 form .inner-form .input-field input:hover, .s130 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: white;
}

.s130 form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s130 form .inner-form .input-field.second-wrap button{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.s130 form .inner-form .input-field.second-wrap button svg{
    padding-left:5px;
  width: 36px;
  height: 36px;
  fill: #222;
}
.s130 form .inner-form .input-field.second-wrap{
    min-width:45px;
    min-height:45px;
}


.s130 form .inner-form .input-field.second-wrap button {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #34B0AC;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: bold;
  border-radius:5%;
}

.s130 form .inner-form .input-field.second-wrap button:hover {
  background: #2f9995;
}

.s130 form .inner-form .input-field.second-wrap button:focus {
  outline: 0;
  box-shadow: none;
}



@media only screen and (max-width: 992px) {
  .s130 form .inner-form .input-field {
    height: 35px;
  }
  .s130 form .inner-form .input-field.second-wrap{
    min-width:35px;
    min-height:35px;
}
  
  .block_of_words{
  column-count: 4;
  column-gap: 5vw;}
  .word{
      min-width:150px;
  }
}

@media only screen and (max-width: 767px) {
  .s130 form .inner-form .input-field.first-wrap button {
    min-width: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  
  .s130 form .inner-form .input-field.second-wrap{
    min-width:30px;
    min-height:30px;
}
  .s130 form .inner-form .input-field.first-wrap button {
    width: 28px;
    height: 28px;
    fill: #222;
  }
  .block_of_words{
  column-count: 3;
  column-gap: 5vw;
}
}


@media only screen and (max-width: 485px) {
  .block_of_words{
  column-count: 2;
  column-gap: 5vw;}
  .text{
      font-size:15px;
  }
}