body{
  margin:0px;
  padding: 0px;
}

.word{
    min-width:150px;
    margin-bottom:15px;
    font-size:16px;
    font-weight: bold;
    color:#666666;
    border: #d9d9d9 solid 1px;
    background-color:white;
}

.word:hover{
    background-color:#f2f2f2;
}

.pre-navbar{
    padding-bottom:4px;
}

.body{
  position: relative;
}

.logo-case , .text{
  text-align: center;
  background-color:  #34B0AC;
  margin:0px;
  padding: 0px;
}

.logo-case img{
  margin:10px;
  height: 20vw;
  width: 20vw;
}

.text{
    font-family: 'Cormorant', serif;
    font-size: 22px;
    color: white;
}

.letters-box{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
}

.letter{
  float: left;
  justify-content: center;
  align-items: center;
  height: 2vw;
  width: 2vw;
  background-color: #F6F6FF;
  margin-right: 0.6vw;
  margin-left: 0.6vw;
  margin-top: 1.5vw;
  border-radius: 10%;
  border: 1px solid #9e9e9e;
}

.letter-text{
  font-family: 'Cormorant', serif;
    font-size: 22px;
    margin:0px;
    text-align: center;
    color: #424242;
}

.block_of_words{
  column-count: 5;
  column-gap: 5vw;
}

.s130 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/Searchs_130.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.s130 form {
  width: 100%;
}

.s130 form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 30px;
}

.s130 form .inner-form .input-field {
  height: 45px;
}

.s130 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #000;
}

.s130 form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 14px;
}

.s130 form .inner-form .input-field input:hover, .s130 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #d9f1e3;
}

.s130 form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.s130 form .inner-form .input-field.first-wrap svg {
    padding-left:5px;
  width: 36px;
  height: 36px;
  fill: #222;
}

.s130 form .inner-form .input-field.second-wrap {
  min-width: 150px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #34B0AC;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: bold;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #2f9995;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}



@media screen and (max-width: 992px) {
  .s130 form .inner-form .input-field {
    height: 35px;
  }
  .block_of_words{
  column-count: 4;
  column-gap: 5vw;}
  .word{
      min-width:150px;
  }
}

@media screen and (max-width: 767px) {
  .s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .s130 form .inner-form .input-field.first-wrap svg {
    width: 28px;
    height: 28px;
    fill: #222;
  }
  .s130 form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
    font-weight:bold;
  }
  
  .block_of_words{
  column-count: 3;
  column-gap: 5vw;
}
}


@media screen and (max-width: 485px) {
  .block_of_words{
  column-count: 2;
  column-gap: 5vw;}
  .text{
      font-size:15px;
  }
}