<html> 
<!--   -->
<head>
	<meta charset="UTF-8">
	<title>tanzil</title>
	<link href="https://fonts.googleapis.com/css?family=Cormorant:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://xozmag24.uz/public_html/tormoz/style.css">
	<script src="https://kit.fontawesome.com/cab2a65650.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="body">
	<div class="pre-navbar">
		<div class="logo-case">
			<img src="https://xozmag24.uz/public_html/tormoz/logo.png" alt="logo">
		</div>
		<div class="logo-text">
			<p class="text">ҚУРЪОНИ КАРИМДА КЕЛГАН СЎЗЛАР</p>
		</div>
	</div>
	<div class="searchbar">
		<div class="search_row">
			<div class="search_block">
				<input type="text" class="search_text" placeholder="Search">
					<div class="search_btn" type="submit">
						<i class="fas fa-search"></i>
					</div>
			</div>
	    </div>
	</div>

<div class="letters-box">
	<div class="block_of_words">
		
			<li>sjfksj</li>
			<li>dsdsds</li>
			<li>smkdfmskmd</li>



	</div>
</div>










</div>
</body>
</html>
