<html> 
<!--   -->
<head>
	<meta charset="UTF-8">
	<title>tanzil</title>
	
	<link href="https://fonts.googleapis.com/css?family=Cormorant:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://xozmag24.uz/tormoz/style.css">
	<script src="https://kit.fontawesome.com/cab2a65650.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="body">
	<div class="pre-navbar">
		<div class="logo-case">
			<img src="http://xozmag24.uz/tormoz/logo.png" alt="logo">
		</div>
		<div class="logo-text">
			<p class="text">ҚУРЪОНИ КАРИМДА КЕЛГАН СЎЗЛАР</p>
		</div>
	</div>
	<div class="searchbar">
		<div class="search_row">
			<div class="search_block">
				<input type="text" class="search_text" placeholder="Search">
					<div class="search_btn" type="submit">
						<i class="fas fa-search"></i>
					</div>
			</div>
	    </div>
	</div>

<div class="letters-box">
	<div class="block_of_words">
		{% for one_word in All_words_info %}

			<a href="{% url 'place-ask' word_id=one_word.word_id %}" style="color:green;">
			<li>{{ one_word.word_name }} </li>
			</a>

		{%endfor%}

	</div>
</div>










</div>
</body>
</html>
