<html> 
<!--   -->
<head>
	<meta charset="UTF-8">
	<title>tanzil</title>
	<link href="https://fonts.googleapis.com/css?family=Cormorant:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://xozmag24.uz/tormoz/style.css">
	<script src="https://kit.fontawesome.com/cab2a65650.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="body">
	<div class="pre-navbar">
		<div class="logo-case">
			<img src="http://xozmag24.uz/tormoz/logo.png" alt="logo">
		</div>
		<div class="logo-text">
			<p class="text">ҚУРЪОНИ КАРИМДА КЕЛГАН СЎЗЛАР</p>
		</div>
	</div>
	<div class="searchbar">
		<div class="search_row">
			<div class="search_block">
				<input type="text" class="search_text" placeholder="Search">
					<div class="search_btn" type="submit">
						<i class="fas fa-search"></i>
					</div>
			</div>
	    </div>
	</div>

<div class="word">
	
</div>

<div class="word_place_case">



	<p class="sura_name">Фотиҳа</p>
	<p class="number">6</p>
	<p class="arabian_view">ﻏﱔﻴﱦﺮﲌ ﭐﻟﱀﻤﱧﻐﱦﻀﱻﻮﺏﲌ ﻋﱺﻠﱁﻴﱦﻬﲌﻢﱦ ﻭﱺﵖﱔﵐ ﭐﻟﻀﲄﺂﻟﱊﲘﻴﻦﱺﳁﳉﳀ</p>
	<p class="defenition">Ўзинг неъмат берганларнинг йўлига. Ғазабга қолганларникига ҳам эмас, адашганларникига ҳам эмас.</p>
ﭐﻫﱹﺪﲘﻧﱧﺎ ﭐﻟﺼﲃﲔﺮﱺ﮴ﻁﱔ ﭐﻟﱀﻤﱨﺴﱹﺘﱧﻘﲘﻴﻢﱧﳁﳇﳀ
<center><hr></center>


</div>


</div>
</body>
</html>	